.slider{
	padding: 82px 0;
	&__inner{
		position: relative;
		width: 750px;
		margin: 0 auto;
	}
	.slick-prev, .slick-next{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: -66px;
		border: none;
		background-color: #fff;
		img{
			width: 31px;
			height: 50px;
		}
	}
	.slick-next{
		left: auto;
		right: -66px;
	}
	.slick-dots{
		list-style: none; //убирает точки
		display: flex !important;
		justify-content: center;
		margin-top: 20px;
		padding: 0;
		button{	
			width: 35px;
			height: 35px;
			margin-right: 5px;
			margin-left: 5px;
			border: none;
			border-radius: 20%;
			background-color: #c70101;
			color: #fff;
		}	
	}	
}

@media (max-width: 1024px){
    .slider{
        &__inner{
            width: 60%;
            img{
                width: 100%;
            }
        }
    }
}
@media (max-width: 575px){
    .slider{
        &__inner{
            width: 90%;
        }
    }
}